.button {
  width: 100%;
  background: #C71585;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  background: #888;
  cursor: not-allowed;
}

.button:disabled {
  background: #888;
  cursor: not-allowed;
}
