.button {
  width: 100%;
  background: #C71585;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 15px 30px;
  cursor: pointer;
  font-weight: 600;

}

.button:hover {
  background: #b90f7b;
  box-shadow: 0 0 0 3.5px #ff85d2;
  transition: background-color 0.5s, border-color 0.25s, box-shadow 0.25s,
    color 0.25s;
}

.button:disabled {
  background: #888;
  cursor: not-allowed;
}
